.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px; // for iPhone SE screen size
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: inherit;
  margin: 2vw 5vw;
  @media (min-width: 768px) {
    margin: 1vw;
  }
}

.header__title {
  flex-grow: 3;
  font-size: 8vw;
  @media (min-width: 768px) {
    font-size: 3vw;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  font-size: 5vw;
  @media (min-width: 768px) {
    font-size: 2vw;
  }
}

.container {
  display: flex;
  justify-content: center;
}
